# Source files
src/**
*.ts
!types/**/*.d.ts

# Config files
tsconfig.json
auwla-tsconfig.json
jsconfig.json

# Build artifacts
**/*.map
*.vsix

# Node modules - we don't need dependencies in the packaged extension
node_modules/**

# Development
.vscode/**
.vscode-test/**
.gitignore
.editorconfig

# Package manager
bun.lock
package-lock.json
yarn.lock

# Other
here.txt

